* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #C5B3DB;
    background-color: #171717;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid #956CAE;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.page-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.page {
    padding: 10px;
    border: 1px solid #956CAE;
    cursor: pointer;
}

.page-current {
    border: 3px solid #956CAE;
    font-weight: bold;
}